<div class="container">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header class="header-card">

      <mat-card-title>Facture</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
      <img src="icons/invoice.svg" class="icon-size" alt="Invoice Icon">
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header class="header-card">

      <mat-card-title>In progress</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
      <img src="icons/in_progress.svg" class="icon-size" alt="Invoice Icon">
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header class="header-card">
      <mat-card-title>In progress</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
      <img src="icons/in_progress.svg" class="icon-size" alt="Invoice Icon">
    </mat-card-content>
  </mat-card>
</div>